/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap'); */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-green: #3a4f39;
    --white: #fff;
    --gray: #f6f6f6;
    --light-gray: #eff6f3;
    --font-color: #2d2e2e;
    font-size: 16px;
    --hover-color: #a0cd9e;
    --light-green: #eff6f3;
}

body {
    width: 1440px;
    max-width: 1440px;
    /* width: 1440px; */
    font-family: "Inter", sans-serif;
    background-color: var(--white);
    border-radius: 1rem;
    margin: 0 auto;
}

/* header */

/* width: 1940px; */
header {
    height: 96px;
    /* padding: 8px 60px 8px 0px; */
    padding: 8px 0;
    align-items: center;
    display: flex;
}

/* max-width: 1440px; */
nav {
    height: 56px;
    display: flex;
    /* margin: 0 auto; */
    align-items: center;
}

.logo {
    width: 220px;
    height: 80px;
}

.nav-menu {
    display: inline-flex;
    padding: 16px 35px;
    gap: 45px;
    align-items: center;
    border-radius: 400px;
    background: var(--gray);
    /* margin-left: 1162px; */
    margin-left: 720px;
}

.nav-item {
    list-style-type: none;
    cursor: pointer;
}

.nav-item a {
    transition: 0.3s ease-out;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--dark-green);
}

.nav-item a:hover {
    color: var(--hover-color);
}

.nav-item a {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: var(--font-color);
    text-decoration: none;
}

/* content */
/* height: 560px; */
.content-section {
    display: flex;
    margin: 50px 0;
    /* padding: 89px 150px 88px 150px; */
    padding: 70px;
    justify-content: center;
    align-items: center;
}

.content {
    /* gap: 191px; */
    gap: 70px;
    display: flex;
    margin: 0 auto;
}

.content-mountain {
    height: 383px;
    max-width: 650px;
    border-radius: 10px;
}

.content-heading {
    display: flex;
    margin: 43px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 37px;
}

.content-heading h1 {
    width: 581px;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--font-color);
}

.content-img-pg {
    display: flex;
    align-items: flex-end;
    gap: 32px;
}

.group {
    width: 23px;
    height: 126px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 26px;
}

.ellipse {
    width: 60px;
    height: 60px;
    transition: transform 0.5s;
}

.ellipse:hover {
    transform: scale(1.3);
}

.gap {
    display: flex;
    align-items: center;
    gap: 24px;
}

.text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 12px;
    color: var(--font-color);
    border-bottom: 1px solid #ababab;
}

/* pricing */

/* height: 560px; */
.pricing-section {
    margin-bottom: 50px;
    display: flex;
    /* padding: 180px 119px 180px 120px; */
    padding: 70px;
    justify-content: center;
    align-items: center;
}

.pricing-flex {
    display: flex;
    overflow-x: auto;
    align-items: flex-start;
    gap: 32px;
    /* gap: 12px; */
}

.flex-child {
    border-radius: 8px;
    display: flex;
    width: 539px;
    align-items: center;
}

.pricing-column-1 {
    display: flex;
    padding: 16px 27px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    background: var(--light-green);
}

.pricing-column-1 h1 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    color: var(--font-color);
    line-height: normal;
}

.pricing-column-1 p {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--dark-green);
}

.pricing-button {
    width: 215px;
    display: flex;
    height: 51px;
    padding: 17px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--dark-green);
    cursor: pointer;
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.pricing-button:hover {
    border: 1px solid var(--dark-green);
    background: var(--light-green);
    color: var(--dark-green);
}

.flex-child img {
    height: 194px;
    border: 1px var(--light-gray);
}

.pricing-column-2 {
    width: 269px;
    display: flex;
    padding: 25px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 11px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon img {
    width: 24px;
    height: 24px;
}

.icon p {
    color: var(--font-color);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

#one,
#two,
#three {
    opacity: 0.3;
}

/* test */

.test-section {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-content {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.test-vector {
    display: flex;

    flex-direction: column;
    align-items: center;
    height: 290px;
    margin: 0 100px;
    border: 2px solid var(--dark-green);
    width: 0px;
}

.dot {
    height: 13px;
    width: 13px;
    margin: 19px;
    cursor: pointer;
    background-color: var(--white);
    border-radius: 50%;
    border: 2px solid var(--dark-green);
}

.dot:hover {
    background: var(--hover-color);
}

/* .test-img {
    height: 290px;
    padding-left: 70px;
    padding-right: 90px;
} */

.test-text {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

.test-text img {
    width: 24px;
    height: 24px;
}

.test-column {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.test-p:not(:first-of-type) {
    display: none;
}


#test-bold {
    color: var(--font-color);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* #pg-one{
    display: block;
} */

/* .test-avatar {
    width: 342px;
    height: 470px;
} */
/* 
.avatar {
    display: inline-flex;
    position: relative;
} */

.test-avatar {
    position: relative;
    height: 450px;
    width: 450px;
    bottom: 50px;
}


.avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}

.avatar img {
    width: 100px;
    height: 100px;
    transition: transform 0.5s !important;
}


.avatar img:active {
    transform: scale(1.3);
}

.active {
    transform: scale(1.3);
}

/* 
.paragraph{
    display: block;
} */

/* 
#avatar1 {
    wi.th: 100px;
    height: 100px;
    /* left: 211px;
    top: 170px;
    position: absolute; 
}

#avatar5 {
    width: 100px;
    height: 100px;
    /* top: 255px;
    position: absolute; 
}

#avatar4 {
    width: 100px;
    height: 100px;
    /* top: 85px;
    position: absolute; 
}

#avatar3 {
    width: 100px;
    height: 100px;
    /* position: absolute;
    left: 194px; 
}

#avatar2 {
    width: 100px;
    height: 100px;
    /* left: 187px;
    top: 355px;
    position: absolute; 
} */

@keyframes moveInCircle {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(120px) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(120px) rotate(-360deg);
    }
}

.avatar:nth-child(1) {
    animation: moveInCircle 6s linear infinite;
}

.avatar:nth-child(2) {
    animation: moveInCircle 6s linear infinite;
    animation-delay: 1s;
}

.avatar:nth-child(3) {
    animation: moveInCircle 6s linear infinite;
    animation-delay: 2s;
}

.avatar:nth-child(4) {
    animation: moveInCircle 6s linear infinite;
    animation-delay: 3s;
}

.avatar:nth-child(5) {
    animation: moveInCircle 6s linear infinite;
    animation-delay: 4s;
}

.avatar:nth-child(6) {
    animation: moveInCircle 6s linear infinite;
    animation-delay: 5s;
}



/* Hero */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.hero-content {
    gap: 143px;
    display: flex;
    /* margin: 0 auto; */
    margin-left: 70px;
    align-items: center;
}

/* border-radius: 10px; */
.hero-content img {
    max-width: 900px;
    margin-top: 30px;
    margin-bottom: 15px;
    /* margin-top: 60px;
    margin-bottom: 30px; */
}

.inline-flex {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    /* margin-right: 154px;
    margin-left: 156px; */
}

.inline-flex h1 {
    color: var(--font-color);
    width: 327px;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inline-flex p {
    color: var(--font-color);
    width: 284px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

/* Template */

.template {
    display: flex;
    /* padding: 157px 618px; */
    padding: 70px;
    justify-content: center;
    align-items: center;
    background: var(--white);
    margin-bottom: 50px;
}

.template-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.template-content h1 {
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 16px;
    color: var(--font-color);
}

.template-content .span {
    width: 300px;
    height: 5px;
    background: var(--hover-color);
}

.template-content span {
    width: 684px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.template-content p {
    color: var(--font-color);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 548px;
    text-align: center;
}

.template-button {
    display: flex;
    /* align-items: flex-start; */
    gap: 16px;
}

.template-button button {
    display: flex;
    width: 200px;
    height: 57;
    padding: 17px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

#btn-1 {
    border-radius: 4px;
    background: var(--dark-green);
    color: var(--white);
    cursor: pointer;
}

#btn-1:hover {
    border: 1px solid var(--dark-green);
    background: var(--white);
    color: var(--dark-green);
}

#btn-2 {
    border-radius: 4px;
    border: 1px solid var(--dark-green);
    background: var(--white);
    cursor: pointer;
}

#btn-2:hover {
    border-radius: 4px;
    background: var(--dark-green);
    color: var(--white);
}

/* Blog */

.blog-section {
    display: flex;
    /* padding: 113px 426px 113px 427px; */
    padding: 70px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.blog-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.blog-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

hr {
    width: 1067px;
    height: 0;
    background-color: var(--font-color);
}

.blog-pg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.blog-pg p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 291px;
    color: var(--font-color);
}

.img-pg {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.head-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.head-link h3 {
    width: 382px;
    height: 40px;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--font-color);
}

.head-link a {
    width: 372px;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    color: var(--font-color);
    text-underline-offset: 3px;
    /* text-decoration-line: underline; */
}

/* Team Section */

.team-section {
    display: flex;
    /* padding: 96px 545px; */
    padding: 70px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.team-content {
    display: flex;
    align-items: flex-start;
    gap: 58px;
}

.box {
    width: 390px;
    position: relative;
    height: 368px;
}

.image {
    width: 255px;
    height: 281px;
}

.photo {
    width: 272px;
    height: 281px;
    position: absolute;
    bottom: 87px;
}

.frame {
    padding: 32px;
    width: 320px;
    margin-left: 70px;
    background: var(--dark-green);
    border-radius: 20px 20px 20px 0px;
    position: absolute;
    bottom: 2px;
}

.frame p {
    width: 256px;
    height: 66px;
    color: var(--white);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

/* Form */


.form-section {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}

.form-section img {
    width: 1440px;
    height: 560px;
}

.form-content {
    position: relative;
}

.form-page {
    position: absolute;
    bottom: 55px;
    left: 150px;
    display: flex;
    width: 375px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    background: var(--white);
}

.form-page h1 {
    width: 332px;
    height: 78px;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.input {
    color: #ababab !important;
    border-radius: 4px !important;
    padding: 17px 16px !important;
    align-self: stretch !important;
    background: var(--gray) !important;
    outline-color: var(--dark-green) !important;
    border: none !important;
}

.div-input {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.input-inline {
    color: #ababab;
    border-radius: 4px;
    padding: 17px 16px;
    width: 155px;
    /* focu */
    background: var(--gray);
    outline-color: var(--dark-green);
    border: none;
}


label {
    color: #ababab;
    font-size: 0.8rem;
}

.form-page button {
    cursor: pointer;
    color: #ababab;
    display: flex;
    width: 185px;
    height: 51px;
    padding: 17px 30px;
    justify-content: center;
    align-items: center;
    margin-left: 147px;
    border-radius: 4px;
    background: var(--dark-green);
    border: none;
    color: var(--white);
}

.form-page button:hover {
    border: 2px solid var(--dark-green);
    background: var(--white);
    color: var(--dark-green);
}





.select2-container {
    width: 328px !important;
}

.select2-selection__rendered {
    margin-top: -15px;
    color: #8d8f8f !important;
    font-size: 0.9rem;
    padding-left: 0px !important;

}

.select2-selection--single {
    border: none !important;
    background: var(--gray) !important;
    padding: 24px;
}

.select2-selection__arrow {
    top: 10px !important;
    right: 10px !important;
}

/* .select2-search{

} */

.select2-results__option--selected {
    background-color: #ababab !important;
}

.select2-dropdown--below {
    background: var(--gray) !important;
    border: none !important;
}

.select2-results__option--highlighted {
    background-color: #cabdbd3d !important;
    color: var(--font-color) !important;
    font-size: 1rem;
}

/* Footer */

.social-network {
    display: inline-flex;
    cursor: pointer;
    align-items: flex-start;
    /* margin: 70px 884px 48px 884px; */
    margin: 70px 644px 48px 644px;
    gap: 16px;
}


.social-network img:hover {
    filter: opacity(100%);
}

.page {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 57px;
    /* margin-left: 714px; */
    margin-left: 468px;
}

.page span {
    color: var(--font-color);
    font-size: 1rem;
    font-style: normal;
    cursor: pointer;
    font-weight: 400;
    line-height: 22px;
}

.page span:hover {
    color: var(--hover-color);
}

.footer {
    display: inline-flex;
    padding: 17px 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    background: var(--dark-green);
    border: none;
    color: var(--white);
    /* margin-left: 317px; */
    margin-left: 200px;
    margin-bottom: 59px;
}

.footer:hover {
    border: 1px solid var(--dark-green);
    background: var(--white);
    color: var(--dark-green);
}

footer hr {
    /* width: 1760px; */
    width: 1300px;
    margin: 0 auto 60px auto;
    height: 0;
    background-color: var(--gray);
    /* margin-bottom: 60px;
    margin-left: 80px;
    margin-right: 80px; */
}

@media only screen and (max-width: 480px) {
    body {
        width: 480px !important;
    }

    header {
        height: 96px;
        width: 480px;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    nav {
        display: flex;

        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    .logo {
        display: flex;
        /* width: 100px;
        height: 70px; */
        padding: 13px 14px;
        justify-content: center;
        align-items: center;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
        left: -100%;
        top: 96px;
        margin-left: 0;
        gap: 20px;
        background: var(--dark-green);
        width: 350px;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-item a {
        color: var(--white);
    }

    .nav-item img {
        filter: invert();
    }

    .nav-item a:hover {
        color: var(--font-color);
    }

    .nav-menu.active {
        left: 60px;

    }

    .content-section {
        width: 480px;
        display: flex;
        padding: 32px;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .content {
        gap: 0;
        display: flex;
        margin: 0 auto;
    }

    .content-heading {
        display: flex;
        margin: 43px 0;
        gap: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .content-heading h1 {
        display: flex;
        width: 427px;
        padding: 32px;
        flex-direction: column;
        align-items: center;
    }

    .content-mountain {
        position: absolute;
        top: 350px;
        left: 72px;
        max-width: 363px;
        height: 294px;
        border-radius: 10px;
    }

    .content-img-pg {
        margin-left: 10px;
        margin-top: 327px;
        display: flex;
        width: 427px;
        padding: 0 32px;
        flex-direction: column;
        align-items: center;
    }

    .gap {
        display: flex;
        align-items: center;
        align-self: stretch;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .ellipse {
        width: 60px;
        height: 60px;
    }

    .pricing-section {
        display: flex;
        width: 480px;
        padding: 0 32px;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
    }

    .pricing-flex {
        width: 363px;
        display: flex;
        padding: 0 32px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        overflow-x: initial;
    }

    .flex-child {
        width: 363px;
        flex-direction: column;
        align-self: stretch;
    }

    .flex-child img {
        display: none;
    }

    .pricing-column-2 {
        border-left: 1px solid var(--gray);
    }

    .test-section {
        margin-bottom: 0px;
        width: 480px;
    }

    .test-content {
        padding: 0 32px;
        flex-direction: column;
    }

    .test-avatar {
        bottom: 0;
        width: 345px;
        height: 390px;
    }

    .avatar {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 50px;
    }

    .test-vector {
        transform: rotate(-90deg);
        bottom: 40px;
        position: relative;
    }

    .test-text {
        position: relative;
        bottom: 100px;
        display: flex;
        align-self: stretch;
    }

    .hero-section {
        width: 480px;
        padding: 0 32px;
        margin-bottom: 0px;
    }

    .hero-content {

        padding: 0 32px;
        margin-left: 0;
        flex-direction: column;
        gap: 32px;
    }

    .inline-flex p {
        width: 363px;
    }

    .inline-flex p br {
        display: none;
    }

    .hero-content img {
        max-width: 363px;
        margin: 0;
    }

    .template {
        width: 480px;
        padding: 32px;
        flex-direction: column;
        margin-bottom: 0;
    }

    .template-content {
        padding: 32px;
        align-self: stretch;
    }

    .template-content h1 {
        text-align: center;
    }

    .template-content span {
        width: 363px;

        gap: 16px;
        align-self: stretch;
    }

    .template-content .span {
        width: 365px;
    }

    .template-content p {
        width: 345px;
    }

    .template-button button {
        width: 180px;
    }

    .blog-section {
        width: 480px;
        padding: 32px;
        margin-bottom: 0;
        flex-direction: column;
    }

    .blog-content {
        align-self: stretch;
    }

    .blog-flex {
        padding: 0 32px;
    }

    hr {
        width: 363px;
    }

    .blog-pg {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
    }

    .head-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        gap: 35px;
    }

    .head-link h3 {
        width: 363px;
    }

    .img-pg img {
        width: 165.5px;
        height: 132px;
    }

    .blog-pg p {
        width: 165px;
    }

    .team-section {
        width: 480px;

        flex-direction: column;
        padding: 32px;
        margin-bottom: 0;
    }

    .team-content {
        flex-direction: column;
        align-self: stretch;
    }

    .box {
        width: 363px;
        height: 368px;
        align-self: stretch;
    }

    .form-section {
        margin-bottom: 0;
        width: 480px;
        padding: 32px;
        flex-direction: column;
    }

    .form-section img {
        width: 427px;
    }

    .form-page {
        width: 363px;
        height: 473px;
        padding: 24px;
        flex-direction: column;
        left: 35px;
        bottom: 45px;
    }

    footer {
        width: 480px;
        display: flex;
        padding: 32px 32px 32px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .social-network {
        width: 152px;
        height: 40px;
        margin: 0 auto;

    }

    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        margin-left: 0;
    }

    .footer {
        width: 319px;
        margin: 0 auto;

    }


    footer hr {
        width: 285px;
    }
}